
.Domino{
  display:flex;
  flex-direction:column;//conditional
  width:35px;
  background:black;
  justify-content:space-between;
  height:75px;
  margin:2px;
  &.inVisible{
    opacity:0;
  }
  .futureDomino{
    background:yellowgreen ;
    width:100%;
    background-size:100%;
    height:100%;
    border:2px yellow dashed;
  }
  &.vertical{
    flex-direction: row;
    width:75px;
    height:35px;
    align-items: space-between;
    .Half{
      width:calc(50% - 2px);
      height:100%;
    }
    .line{
      height:100%;
      width:2px;
    }
  }
  .line{
    height:2px;
    width:100%;
    background:white;
  }
  .Half{
    width:100%;
    height:calc(50% - 2px);
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
    .dot{
      border-radius: 50%;
      width:8px;
      height:8px;
      margin:2px;
      background:white;
    }
  }
}